<script>
  import SkillCards from '../../components/skillCard/SkillCards.svelte'
  import Heading from '../../components/typo/Heading.svelte'
  import Paragraph from '../../components/typo/Paragraph.svelte'
  import HorizontalRule from '../../components/HorizontalRule.svelte'
  import Spacer from '../../components/Spacer.svelte'
  import { generatePermalink } from '../../utils/routes'
  import { useTranslation } from '../../utils/translation.js'

  export let data, request

  const { t } = useTranslation(data.texts)

  const skills = [
    {
      color: '#f7df1e',
      icon: {
        src: '/logo_javascript.svg',
        alt: 'logo_javascript',
        class: 'logo--icon logo-javascript',
      },
      content: t('skills.javascript'),
    },
    {
      color: '#41b883',
      icon: {
        src: '/logo_vue.svg',
        alt: 'logo_vue',
        class: 'logo--icon logo-vue',
      },
      content: t('skills.vue'),
    },
    {
      // color: '#83cd29',
      color: '#026e00',
      icon: {
        src: '/logo_node.svg',
        alt: 'logo_node',
        class: 'logo--icon logo-node',
      },
      content: t('skills.node'),
    },
    {
      color: '#3178c6',
      icon: {
        src: '/logo_typescript.svg',
        alt: 'logo_typescript',
        class: 'logo--icon logo-typescript',
      },
      content: t('skills.typescript'),
    },
    {
      color: '#bf4b85',
      icon: {
        src: '/logo_sass.svg',
        alt: 'logo_sass',
        class: 'logo--icon logo-sass',
      },
      content: t('skills.sass'),
    },
    {
      color: '#dd4c35',
      icon: {
        src: '/logo_git.svg',
        alt: 'logo_git',
        class: 'logo--icon logo-git',
      },
      content: t('skills.git'),
    },
    {
      color: '#009639',
      icon: {
        src: '/logo_nginx.svg',
        alt: 'logo_nginx',
        class: 'logo--icon logo-nginx',
      },
      content: t('skills.nginx'),
    },
    // {
    //   color: '#088cb9',
    //   icon: { src: '/logo_docker.svg', alt: 'logo_docker', class: 'logo--icon logo-docker' },
    //   content: 'Lorem ipsum Docker.',
    // },
  ]
  // node, git, sass, docker, ..., vue, ts, js, nginx
</script>

<svelte:head>
  <title>Miroslav Válka | MWarCZ</title>
</svelte:head>
<!-- <meta name="description" content="Vitejte na mem osobnim webu."> -->

<div class="is-other">
  <Spacer tag="section" mx="auto" py="2rem" px="1rem">
    <Heading level="2" primary uppercase>{t('introduce.title')}</Heading>
    {#each t('introduce.content', true) as content}
      {#if typeof content === 'string'}
        <Paragraph>
          {@html content}
        </Paragraph>
      {:else}
        {@html content}
      {/if}
    {/each}
  </Spacer>
</div>
<HorizontalRule />
<div>
  <Spacer tag="section" mx="auto" py="2rem" px="1rem">
    <Heading level="2" primary uppercase>{t('skills.title')}</Heading>
    <SkillCards {skills} />
    <!-- <SkillCards hydrate-client={{ skills }} /> -->
  </Spacer>
</div>
<HorizontalRule />
<div class="is-other">
  <Spacer tag="section" mx="auto" py="2rem" px="1rem">
    <Heading level="2" primary uppercase>Portfolio</Heading>
    <Paragraph>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam,
      consectetur! Mollitia quaerat vel at labore a ut, cumque corporis
      consectetur omnis voluptatibus, unde temporibus nostrum debitis harum
      quisquam maiores deserunt.
    </Paragraph>
    <Paragraph>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      maxime labore natus eos consequuntur deleniti delectus. Sit error
      similique quaerat in labore tempore. Molestiae fugiat ab eaque, earum
      facilis dolorem!
    </Paragraph>

    <Spacer pt="1rem">
      <a
        href={generatePermalink('/portfolio', request)}
        class="btn-prim typo-title center-me">Portfolio</a>
    </Spacer>
  </Spacer>
</div>

<style lang="scss">
  // @import '../../assets/themes-mixin.scss';
  @import '../../assets/themes-mixin.scss';
  .is-other {
    @include color(background-color, bg-prim);
  }
  .btn-prim {
    // display: inline-block;
    display: block;
    width: fit-content;

    text-align: center;
    font-size: 2em;
    background-color: var(--cl-link);
    background-image: linear-gradient(
      to top right,
      var(--cl-link-hover),
      transparent
    );
    border: 1px solid var(--cl-fg-prim);
    border-radius: 1em;
    padding: 0.25em 0.75em;
    box-shadow: 0 0 0.25em var(--cl-fg-prim);
    color: var(--cl-bg-sec);
    text-decoration: none;
    text-shadow: 0 0 0.05em var(--cl-bg-sec) !important;
    font-weight: 800;
    // font-weight: 600;
    // text-shadow:
    //   0.07em 0.07em black,
    //   -0.07em -0.07em black,
    //   -0.07em 0.07em black,
    //   0.07em -0.07em black !important;

    &:hover {
      background-color: var(--cl-link-hover);
      box-shadow: 0 0 0.25em var(--cl-fg-prim),
        inset 0 0 0.5em var(--cl-fg-prim);
      color: var(--cl-bg-prim);
    }
  }
  .center-me {
    margin-left: auto;
    margin-right: auto;
  }

  :global {
    .logo {
      &-nginx,
      &-node,
      &-git,
      &-docker {
        height: 1.8em;
        width: 1.8em;
      }
      &-typescript,
      &-javascript,
      &-sass {
        height: 1.4em;
        width: 1.4em;
      }
      &-vue {
        height: 1.3em;
        width: 1.3em;
        margin-top: 0.2em;
      }
    }
  }
</style>
