<script>
  import Heading from '../../components/typo/Heading.svelte'
  import Paragraph from '../../components/typo/Paragraph.svelte'
  import { useTranslation } from '../../utils/translation.js'

  export let data //, request

  const { t } = useTranslation(data.texts)
</script>

<svelte:head>
  <title>Styly | MWarCZ</title>
</svelte:head>

<div>
  <Heading level="1">Lorem ipsum dolor sit.</Heading>
  <Heading level="2">Lorem ipsum dolor sit.</Heading>
  <Heading level="3">Lorem ipsum dolor sit.</Heading>
  <Heading level="4">Lorem ipsum dolor sit.</Heading>
  <Heading level="5">Lorem ipsum dolor sit.</Heading>
  <Heading level="6">Lorem ipsum dolor sit.</Heading>
  <span>=====================</span>
  <Heading level="1" primary>Lorem ipsum dolor sit.</Heading>
  <Heading level="1">Lorem ipsum dolor sit.</Heading>
  <Paragraph>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quos minima,
    sequi, nemo magni omnis ea repudiandae corrupti obcaecati sunt facere
    dolores similique unde. Obcaecati aliquam nesciunt doloribus nostrum
    dolores?
  </Paragraph>
  <Heading level="2" primary>Lorem ipsum dolor sit.</Heading>
  <Heading level="2">Lorem ipsum dolor sit.</Heading>
  <Paragraph>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quos minima,
    sequi, nemo magni omnis ea repudiandae corrupti obcaecati sunt facere
    dolores similique unde. Obcaecati aliquam nesciunt doloribus nostrum
    dolores?
  </Paragraph>
  <Heading level="3" primary>Lorem ipsum dolor sit.</Heading>
  <Heading level="3">Lorem ipsum dolor sit.</Heading>
  <Paragraph>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quos minima,
    sequi, nemo magni omnis ea repudiandae corrupti obcaecati sunt facere
    dolores similique unde. Obcaecati aliquam nesciunt doloribus nostrum
    dolores?
  </Paragraph>
  <Paragraph>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quos minima,
    sequi, nemo magni omnis ea repudiandae corrupti obcaecati sunt facere
    dolores similique unde. Obcaecati aliquam nesciunt doloribus nostrum
    dolores?
  </Paragraph>
  <Paragraph justify primary>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quos minima,
    sequi, nemo magni omnis ea repudiandae corrupti obcaecati sunt facere
    dolores similique unde. Obcaecati aliquam nesciunt doloribus nostrum
    dolores?
  </Paragraph>
</div>
