<script>
  import SkillCard from './SkillCard.svelte'

  export let skills = [
    {
      color: '#0090ff',
      icon: '🥶',
      content: 'Je mi <b>zima</b> a mrznu tady!',
    },
    {
      color: 'red',
      icon: '😡',
      content: 'Je mi na nic. <strong>Neserte me!</strong>',
    },
    {
      color: '#008000',
      icon: '🤢',
      content: 'Posledni slova: <i>Vse je jedle, minimalne jednou.</i>',
    },
    {
      color: '#dfbe00',
      icon: '📀',
      content: 'Era CD a DVD bohuzel jiz skoncila.',
    },
    { color: 'gray', icon: '🌚', content: 'O kolecko navic.' },
    { color: 'white', icon: '💀', content: 'Smrt chodi posledni.' },
  ]

  let cards = []
  function log() {
    console.log(cards)
  }
</script>

<div class="skills" on:mouseenter={log}>
  {#each skills as { color, content, icon }, index}
    <!-- <SkillCard {color} animation={index*0.25 + 1}> -->
    <SkillCard {color} animation={index * 0.5 + 0.5} bind:this={cards[index]}>
      <!-- <span slot="icon">{icon}</span> -->
      <div slot="icon" style="display: grid;">
        {#if typeof icon === 'string'}
          <span>{icon}</span>
        {:else}
          <img
            width="32"
            height="32"
            src={icon.src}
            alt={icon.alt}
            class={icon.class}
            style={icon.style} />
        {/if}
      </div>
      {@html content}
    </SkillCard>
  {/each}
</div>

<style lang="scss">
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  :global(.logo--icon) {
    overflow: hidden;
    filter: drop-shadow(1px 0px 0 var(--cl-fg-prim))
      drop-shadow(-1px 0px 0 var(--cl-fg-prim))
      drop-shadow(0px 1px 0 var(--cl-fg-prim))
      drop-shadow(0px -1px 0 var(--cl-fg-prim));
  }
</style>
