<script>
  import Paragraph from '../typo/Paragraph.svelte'

  export let color = 'red',
    badgeColor = 'black',
    badgeShadow = 'white'
  export let animation = false

  $: animationDelay = typeof animation === 'number' ? animation : 0
</script>

<div
  class="card"
  class:animation
  style="
    --skill-color:{color};
    --skill-badge-color:{badgeColor};
    --skill-badge-shadow:{badgeShadow};
    --skill-animation-delay:{animationDelay}s;
  ">
  <div class="icon">
    <slot name="icon">🤑</slot>
  </div>
  <Paragraph center>
    <slot>Sample text for <strong>this skill</strong>.</slot>
  </Paragraph>
</div>

<style lang="scss">
  // .x {
  //   --skill-color: darkgreen;
  //   --skill-badge-color: black;
  //   --skill-badge-shadow: white;
  // }
  .card {
    background-image: linear-gradient(
      to right,
      var(--skill-color) 2em,
      transparent 2em
    );
    background-color: var(--cl-bg-prim);
    padding: 0.5em;
    padding-left: 4em;
    position: relative;

    margin: 1rem auto;
    // box-shadow: 0.15rem 0.15rem 0.5rem var(--cl-fg-prim);
    box-shadow: 0 0 0.25rem var(--cl-fg-sec);
    // border: 1px solid var(--cl-fg-sec);
    border-radius: 0.25rem;

    & > .icon {
      position: absolute;
      background-color: var(--skill-badge-color);
      // background-color: var(--cl-fg-sec);
      display: grid;
      justify-items: center;
      align-items: center;
      width: 2.5em;
      height: 2.5em;
      left: 0.75em;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100%;
      // box-shadow: inset #fff 0 0 0.5em, #fff 0 0 0.5em;
      box-shadow: var(--skill-badge-shadow) 0 0 0.5em;
    }
  }

  .animation {
    // animation: fade 1s, flyUp 1s;
    animation-name: fade, flyUp;
    animation-duration: 0.75s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    animation-delay: var(--skill-animation-delay);
    // opacity: 0;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes flyUp {
    from {
      transform: translateY(4rem);
    }
    to {
      transform: translateY(0rem);
    }
  }
</style>
