<script>
  export let tooltip = 'Copy to clipboard',
    alt = 'Clipboard icon'
  export let onclick = ''
</script>

<button class="btn" {onclick} data-tooltip={tooltip} class:bottom={true}>
  <svg
    class={$$props.class}
    style={$$props.style}
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    viewBox="0 0 16 16"
    role="img"
    aria-hidden="true">
    <!-- <title>{alt}</title> -->
    <desc>{alt}</desc>
    <path
      fill-rule="evenodd"
      d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z" />
  </svg>
  <slot />
</button>

<style lang="scss">
  :global {
    @import '../../assets/tooltip.scss';
  }
  @import '../../assets/themes-mixin.scss';
  .btn {
    all: inherit;
    position: relative;
    display: inline;
    margin: 0;
    cursor: pointer;
    &:focus {
      // outline: 1px solid white !important;
      @include color(outline, fg-prim, 2px solid !important);
    }
  }
  svg:hover {
    filter: drop-shadow(0 0 0.4rem var(--cl-link-hover));
  }
</style>
