<script>
  /* Doporuceni: Pouzit jako hydratovanou komponentu */

  const getMenuBtnHandler = (focusPrev) => (eventKeyDown) => {
    if (eventKeyDown.code === 'Space' || eventKeyDown.code === 'Enter') {
      eventKeyDown.target.click()
      eventKeyDown.preventDefault()
      if (focusPrev) {
        eventKeyDown.target.previousElementSibling.focus()
      } else {
        eventKeyDown.target.nextElementSibling.focus()
      }
    }
  }
  const openMenu = getMenuBtnHandler(false)
  const closeMenu = getMenuBtnHandler(true)
</script>

<a role="button" class="menu-open" href="#menu" on:keydown={openMenu}>
  <slot name="open">Open</slot>
</a>
<a role="button" class="menu-close" href="#_" on:keydown={closeMenu}>
  <slot name="close">Close</slot>
</a>

<style lang="scss">
  :global(#menu:target) {
    .menu-open {
      display: none;
    }
    .menu-close {
      display: inline-block;
    }
  }
  .menu-open {
    display: inline-block;
  }
  .menu-close {
    display: none;
  }
</style>
