<script>
  export let target = '#main',
    text = 'Skip menu'
</script>

<a class="skip" href={target}>{text}</a>

<style lang="scss">
  .skip {
    & {
      position: fixed;
      text-align: center;
      display: block;
      background-color: var(--cl-bg-prim);
      padding: 1rem;
      z-index: -10;
      left: 0;
      right: 0;
    }
    &:focus {
      z-index: 10;
    }
  }
</style>
