<span class={$$props.class} style={$$props.style} />

<style lang="scss">
  @import '../../assets/themes-mixin.scss';
  span {
    display: grid;
    background-color: transparent;
    position: relative;
    grid-template-areas: 'circle';
    align-content: center;
    justify-content: center;
    margin: 0.3rem;
    // overflow: hidden;
    &::before,
    &::after {
      content: '';
      display: block;
      height: 1em;
      width: 1em;
      @include color(border, fg-prim, 0.1rem solid);
      border-radius: 100%;
      grid-area: circle;
    }
    &::before {
      @include color(background-color, link);
      margin-left: 0.5em;
    }
    &::after {
      @include color(background-color, bg-prim);
      margin-right: 0.5rem;
    }
    &:hover {
      filter: drop-shadow(0 0 0.5rem var(--cl-bg-prim));
      &::before {
        @include color(background-color, link-hover);
      }
      &::after {
        @include color(background-color, bg-sec);
      }
    }
  }
</style>
