<script>
  import Heading from '../../components/typo/Heading.svelte'
  import WritenLine from '../../components/WritenLine.svelte'

  export let locale
</script>

<div class="fullname">
  <Heading my="0">
    <Heading tag="span" my="0">Bc.</Heading>
    <Heading tag="em" primary my="0">Miroslav</Heading>
    <Heading tag="em" primary my="0">Válka</Heading>
  </Heading>
  <WritenLine lang={locale} />
</div>

<style lang="scss">
  @import '../../assets/themes-mixin.scss';

  .fullname {
    max-width: 20em;
    margin: 0 auto;
    overflow: hidden;
    :global {
      em {
        font-size: 2em;
        font-style: normal;
        text-align: right;
        display: block;
        &:first-of-type {
          // margin: 0 2.4em 0 0;
          margin: 0;
          text-align: center;
          position: relative;
          left: 0;
          transition: 1s left;
          @media (min-width: 27rem) {
            left: -0.8em;
          }
        }
        &:last-of-type {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      span {
        margin-bottom: 0;
      }
    }
  }
</style>
