<script>
  export let href = '/'
</script>

<a {href}><img class="logo" src="/logo/logo.svg" alt="Logo_MWarCZ" /></a>

<style lang="scss">
  .logo {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    box-shadow: 0 0 0.25rem #888;
    transition: 1s transform;
    &:hover {
      transform: rotate(720deg);
      transition: 0s transform;
    }
  }
</style>
