<script>
  /**
   * @type {{
   *  name: string,
   *  href: string,
   *  tooltip: string,
   *  tooltipDirection: string,
   *  componentClass: string,
   *  component: any
   * }[]}
   */
  export let items = []
</script>

{#each items as {name, href, tooltip, tooltipDirection, componentClass = '', component}}
  <li>
    <a
      {href}
      data-tooltip={tooltip || undefined}
      class={tooltipDirection || undefined}>
      {#if component}
        <svelte:component this={component} class={componentClass} />
      {:else}{name}{/if}
    </a>
  </li>
{/each}

<style lang="scss">
  :global {
    @import '../../assets/tooltip.scss';
  }
  @import '../../assets/themes-mixin.scss';
  @import '../../assets/const.scss';
  a {
    display: block;
    text-align: center;
    // height: 100%;
    // width: 100%;
    padding: 0.3rem 0;
    text-decoration: none;
    @include color(color, fg-sec);
    // @include color(background-color, bg-sec);
    transition: 0.1s box-shadow;
    &:hover {
      @include color(color, fg-prim);
      // @include color(background-color, bg-prim);
      box-shadow: inset var(--cl-link-hover) 0 0 0.25rem,
        var(--cl-link-hover) 0 0 0.25rem;
    }
  }
  li {
    position: relative;
    /* Mala lajna mezi prvky */
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(50%, 50%);
      @include color(border-bottom, link, 0.1rem solid);
      width: 5rem;
    }
    &:last-child::after {
      border: none;
    }
    &:nth-child(2n)::after {
      width: 8rem;
    }
  }

  @media (min-width: $width-sm) {
    a {
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
      border-radius: 0 0 0.5rem 0.5rem;
      &:hover {
        background-color: inherit;
        box-shadow: none;
      }
    }
    li {
      display: flex;
      height: 100%;
      /* Mala lajna mezi prvky */
      &::after {
        // transform: translate(50%, 50%);
        bottom: 50%;
        right: 0;
        border: none;
        @include color(border-right, link, 0.1rem solid);
        width: 0rem;
        height: 0.8rem;
      }
      &:last-child::after {
        border: none;
      }
      &:nth-child(2n)::after {
        width: 0;
        height: 1.5rem;
      }
    }
  }
</style>
