<script>
  import MenuBtn from '../buttons/MenuBtn.svelte'
  import MenuItems from './MenuItems.svelte'
  import Logo from './Logo.svelte'

  export let main = [],
    side = []
</script>

<nav id="menu" class="typo-title">
  <Logo href={main[0].href} />
  <div class="menu-btn">
    <MenuBtn hydrate-client={{}} />
  </div>
  <ul class="main">
    <MenuItems items={main} />
  </ul>
  <ul class="side">
    <MenuItems items={side} />
  </ul>
</nav>

<style lang="scss">
  @import '../../assets/themes-mixin.scss';
  @import '../../assets/const.scss';

  nav {
    // margin: 0 auto;
    // max-width: 36rem;
    display: grid;
    grid-template-columns: 1fr 1fr min-content;
    // grid-template-columns: min-content auto min-content;
    // grid-template-areas: "logo . menu";
    grid-template-areas: '. logo menu';
    grid-gap: 0.5rem 0;
    align-items: center;

    &:target {
      grid-template-areas:
        '. logo menu'
        'main main main'
        'side side side';
      .main,
      .side {
        display: block;
      }
    }
    :global(.menu-btn) {
      grid-area: menu;
    }
    :global(:first-child) {
      grid-area: logo;
    }
  }
  .main {
    grid-area: main;
  }
  .side {
    grid-area: side;
  }
  .main,
  .side {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    // :global(a) {
  }

  @media (min-width: $width-sm) {
    nav#menu {
      grid-template-columns: repeat(1, min-content) auto min-content;
      grid-template-areas: 'logo main side'; // !important;
      grid-gap: 0.5rem;

      :global(.menu-btn) {
        display: none;
      }
      .main,
      .side {
        display: flex; // !important;
        height: 100%;
      }
    }
  }
</style>
