<script>
  import Spacer from '../Spacer.svelte'

  export let level = 1,
    uppercase = false,
    primary = false,
    center = false
  export let mt,
    mb,
    my = '1rem'
  export let tag = null,
    style

  const typo = {
    uppercase,
    primary,
    center,
  }
  let stringClasses = ''
  $: {
    stringClasses = 'typo-title'
    for (let key in typo) {
      if (typo[key]) {
        stringClasses = `${stringClasses} typo-${key}`
      }
    }
  }
  const poss = {
    1: 'h1',
    2: 'h2',
    3: 'h3',
    4: 'h4',
    5: 'h5',
    6: 'h6',
  }
  $: startTag = `<${poss[level]} class="${stringClasses}">`
  $: endTag = `</${poss[level]}>`
</script>

<!-- {@html startTag}
<slot />
{@html endTag} -->
<Spacer
  tag={tag ? tag : poss[level]}
  class={stringClasses}
  {style}
  {my}
  {mb}
  {mt}>
  <slot />
</Spacer>
