<script>
  export let primary = false,
    italic = false,
    center = false,
    justify = false,
    right = false,
    zeroMargin = false

  // function props2classes(props = {}) {
  //   let classes = ''
  //   for (let prop in props) {
  //     if (props[prop]) classes += ` typo-${prop}`
  //   }
  //   return classes
  // }
  // $: classes = props2classes($$props)
</script>

<p
  class:typo-primary={primary}
  class:typo-italic={italic}
  class:typo-center={center}
  class:typo-justify={justify}
  class:typo-right={right}
  class:typo-zero-margin={zeroMargin}>
  <slot />
</p>
<!-- <p class={classes}><slot /></p> -->
