<script>
  import Heading from '../typo/Heading.svelte'
  import Paragraph from '../typo/Paragraph.svelte'
  import ClipboardBtn from '../buttons/ClipboardBtn.svelte'
  import { useTranslation } from '../../utils/translation'
  export let texts = {}
  const { t } = useTranslation(texts)

  const copyToClipboard = (selfBrn, srcSelector) => {
    const doc = document,
      body = doc.body,
      tmpTextarea = doc.createElement('textarea')
    tmpTextarea.value = doc.querySelector(srcSelector).text.trim()
    body.appendChild(tmpTextarea)
    tmpTextarea.select()
    doc.execCommand('copy')
    body.removeChild(tmpTextarea)
    selfBrn.focus()
    console.log('COPIED:', tmpTextarea.value)
  }
  const email = 'miroslav%40tenvalka.eu'
  const copy = `(${copyToClipboard.toString()})(this, 'a[href^="mailto:${email}"]')`
</script>

<div>
  <Heading level="2" primary uppercase>
    {@html t('title')}
  </Heading>
  <address>
    <Paragraph primary zeroMargin>
      {@html t('contacts')}
    </Paragraph>
  </address>
  <Paragraph primary zeroMargin>
    {@html t('sendEmail')}
  </Paragraph>
  <Heading tag="div" center style="font-size: 1.5rem;font-weight: bold;">
    <address>
      <a href="mailto:{email}?subject=Ahoj!">
        <span>{email.split('%40')[0]}</span><span>&#064;</span><span>{email.split('%40')[1]}</span>
      </a>
    </address>
    <ClipboardBtn
      tooltip={t('clipboard.tooltip')}
      class="btn-clipboard"
      onclick={copy} />
  </Heading>
  <Paragraph italic center>
    {@html t('joke')}
  </Paragraph>
</div>

<style lang="scss">
  @import '../../assets/themes-mixin.scss';
  a {
    & > span {
      display: block;
      &:nth-child(2) {
        // text-decoration: underline black;
        @include color(text-decoration, bg-sec, underline);
        // color: blue;
      }
    }
    @media (min-width: 27rem) {
      & > span {
        display: inline;
        &:nth-child(2) {
          text-decoration: none;
        }
      }
    }
  }
  address {
    font-style: normal;
    display: inline;
  }

  :global {
    .btn-clipboard {
      height: 1em;
      width: 1em;
      display: inline;
      cursor: pointer;
      vertical-align: bottom;

      path {
        @include color(fill, link);
      }
      &:hover path {
        @include color(fill, link-hover);
      }
    }
  }
</style>
