<script>
  import Spacer from './Spacer.svelte'
  import Heading from './typo/Heading.svelte'
  import Paragraph from './typo/Paragraph.svelte'
</script>

<div class="article">
  <article>
    <header>
      <slot name="header" />
    </header>
    <main>
      <slot>
        <Heading primary uppercase>Titulek</Heading>
        <Paragraph justify>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          cupiditate aliquam molestiae totam, alias asperiores atque quod sit,
          eveniet reprehenderit, numquam odio a temporibus? Ad sequi provident
          eos blanditiis at!
        </Paragraph>
        <Paragraph justify>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias hic
          distinctio quos rerum corrupti amet soluta quis excepturi sed veniam
          voluptatibus magni ipsa doloribus in perferendis, veritatis dolorum
          facilis adipisci. Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Facilis ipsum at eum. Id, vel facilis qui aperiam, ea repellat
          vero porro amet quisquam obcaecati voluptatum ullam facere, magnam
          fuga sed!
        </Paragraph>
        <Paragraph justify>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minima
          explicabo quibusdam repudiandae quia cumque! Dicta quas perspiciatis
          officiis eaque culpa ex aliquid autem, nihil eum accusantium.
          Dignissimos, totam repellat. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Itaque suscipit quisquam dolores cupiditate,
          mollitia aliquid unde perferendis facere laboriosam earum laborum
          deleniti omnis doloremque atque, vero tenetur amet. Nihil, recusandae.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro
          nulla asperiores hic delectus harum quibusdam vero est rem consectetur
          ut totam, qui, laboriosam quos iure vitae temporibus eveniet odit.
        </Paragraph>
        <Paragraph justify>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minima
          explicabo quibusdam repudiandae quia cumque! Dicta quas perspiciatis
          officiis eaque culpa ex aliquid autem, nihil eum accusantium.
          Dignissimos, totam repellat. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Itaque suscipit quisquam dolores cupiditate,
          mollitia aliquid unde perferendis facere laboriosam earum laborum
          deleniti omnis doloremque atque, vero tenetur amet. Nihil, recusandae.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro
          nulla asperiores hic delectus harum quibusdam vero est rem consectetur
          ut totam, qui, laboriosam quos iure vitae temporibus eveniet odit.
        </Paragraph>
        <Paragraph justify>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minima
          explicabo quibusdam repudiandae quia cumque! Dicta quas perspiciatis
          officiis eaque culpa ex aliquid autem, nihil eum accusantium.
          Dignissimos, totam repellat. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Itaque suscipit quisquam dolores cupiditate,
          mollitia aliquid unde perferendis facere laboriosam earum laborum
          deleniti omnis doloremque atque, vero tenetur amet. Nihil, recusandae.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro
          nulla asperiores hic delectus harum quibusdam vero est rem consectetur
          ut totam, qui, laboriosam quos iure vitae temporibus eveniet odit.
        </Paragraph>
        <Paragraph justify>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam,
          nesciunt doloremque quas quaerat ipsa quae totam cupiditate! Eligendi
          corrupti dignissimos repellendus nostrum aliquid iste consequatur
          voluptate perferendis. Quia, non sit.
        </Paragraph>
      </slot>
    </main>
    <footer>
      <slot name="footer">
        <Spacer pb="2rem" />
      </slot>
    </footer>
  </article>
</div>

<style lang="scss">
  $barHeight: 0.3rem;

  :global {
    .article {
      --bar-height: #{$barHeight};
      & {
        margin: 0;
        padding: 0;
        position: relative;
      }
      &::before {
        content: '';
        display: block;
        background-image: linear-gradient(
          to right top,
          var(--cl-link) 50%,
          var(--cl-fg-prim) 50%
        );
        height: calc(100% - 100vh + var(--bar-height));
        width: 100%;
        position: absolute;
        // top: 0;
        bottom: 0;
        left: 0;
      }
      &::after {
        content: '';
        display: block;
        position: -webkit-sticky;
        position: sticky;
        background-color: var(--cl-bg-prim);
        height: calc(100vh - var(--bar-height));
        left: 0;
        right: 0;
        // bottom: 0;
        bottom: var(--bar-height);
      }
      & > article,
      & > header,
      & > footer,
      & > main {
        position: relative;
        z-index: 1;
      }
      & > :last-child {
        margin-bottom: calc(-100vh + var(--bar-height));
      }
    }
  }
</style>
