<script>
  import SkillCard from './skillCard/SkillCard.svelte'

  const skills = [
    {
      color: '#0090ff',
      icon: '🥶',
      content: 'Je mi <b>zima</b> a mrznu tady!',
    },
    {
      color: 'red',
      icon: '😡',
      content: 'Je mi na nic. <strong>Neserte me!</strong>',
    },
    {
      color: '#008000',
      icon: '🤢',
      content: 'Posledni slova: <i>Vse je jedle, minimalne jednou.</i>',
    },
    {
      color: '#dfbe00',
      icon: '📀',
      content: 'Era CD a DVD bohuzel jiz skoncila.',
    },
    { color: 'gray', icon: '🌚', content: 'O kolecko navic.' },
    { color: 'white', icon: '💀', content: 'Smrt chodi posledni.' },
  ]
</script>

<div class="skills">
  {#each skills as { color, content, icon }, index}
    <!-- <SkillCard {color} animation={index*0.25 + 1}> -->
    <SkillCard {color} animation={index * 0.5 + 1}>
      <span slot="icon">{icon}</span>
      {@html content}
    </SkillCard>
  {/each}
</div>

<style lang="scss">
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
