<script>
  export let tag = 'div'
  export let mt, mr, mb, ml, mx, my, m
  export let pt, pr, pb, pl, px, py, p
  export let isBlock, isInline, center
  export let style

  const check = (value) => typeof value === 'string'
  const firstOf = (...values) => {
    for (let value of values) {
      if (check(value)) return value
    }
    return 0
  }

  $: marginTop = firstOf(mt, my, m)
  $: marginRight = firstOf(mr, mx, m)
  $: marginBotton = firstOf(mb, my, m)
  $: marginLeft = firstOf(ml, mx, m)
  $: paddingTop = firstOf(pt, py, p)
  $: paddingRight = firstOf(pr, px, p)
  $: paddingBotton = firstOf(pb, py, p)
  $: paddingLeft = firstOf(pl, px, p)

  const genClasses = (
    possibleClasses,
    startStringClass = '',
    endStringClass = '',
  ) => {
    let classes = typeof startStringClass === 'string' ? startStringClass : ''
    for (let key in possibleClasses) {
      if (possibleClasses[key]) {
        classes = `${classes} ${key}`
      }
    }
    if (typeof endStringClass === 'string') {
      classes = `${classes} ${endStringClass}`
    }
    return classes
  }

  const possibleClasses = {
    isBlock,
    isInline,
    center,
  }
  $: classes = genClasses(possibleClasses, 'spacer', $$props.class)
  $: styles = `--mt:${marginTop};--mr:${marginRight};--mb:${marginBotton};--ml:${marginLeft};--pt:${paddingTop};--pr:${paddingRight};--pb:${paddingBotton};--pl:${paddingLeft};${
    style ? style : ''
  }`
  $: startTag = `<${tag} style="${styles}" class="${classes}">`
  $: endTag = `</${tag}>`
</script>

{@html startTag}
<slot />
{@html endTag}

<style lang="scss">
  :global {
    .spacer {
      margin-top: var(--mt) !important;
      margin-right: var(--mr) !important;
      margin-bottom: var(--mb) !important;
      margin-left: var(--ml) !important;

      padding-top: var(--pt) !important;
      padding-right: var(--pr) !important;
      padding-bottom: var(--pb) !important;
      padding-left: var(--pl) !important;

      &.isBlock {
        display: block;
      }
      &.isInline {
        display: inline-block;
      }
      &.center {
        & > * {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
</style>
