<script>
  export let lang = 'cs'
</script>

<div style="width: 0;">
  <div
    style={$$props.style}
    class="typo-code writen-ja {$$props.class}"
    class:en={lang === 'en'} />
  <div
    style={$$props.style}
    class="typo-code writen-co fake-cursor is-blink {$$props.class}"
    class:en={lang === 'en'} />
</div>

<style lang="scss">
  @mixin writenAnim($name, $duration_s, $delay_s: 0, $iteration: 0) {
    animation-name: #{$name};
    animation-duration: #{$duration_s};

    animation-fill-mode: forwards;
    animation-timing-function: steps(var(--steps), end);

    @if ($delay_s != 0) {
      animation-delay: #{$delay_s};
    }
    @if ($iteration != 0) {
      animation-iteration-count: #{$iteration};
    }
  }

  .writen-line,
  .writen-ja,
  .writen-co {
    display: inline-block;
    white-space: nowrap;
    &::before {
      --steps: 30;
      content: '\a0 ';
      display: inline-flex;
      height: 1.3em;
      width: 0ch;
      overflow: hidden;
      line-break: anywhere;
    }
  }
  .writen-line::before {
    @include writenAnim(writen-line, 14s, 1s, infinite);
  }
  .writen-ja {
    &::before {
      @include writenAnim(writen-ja, 2s, 1s);
    }
    &.en::before {
      @include writenAnim(writen-ja-en, 1.5s, 1s);
    }
  }
  .writen-co {
    &::before {
      @include writenAnim(writen-co, 11s, 3s, infinite);
    }
    &.en::before {
      @include writenAnim(writen-co-en, 11s, 2.5s, infinite);
    }
  }

  @import '../assets/new-anim.scss';

  $msgs: 'Ahoj. Ja jsem Miroslav Válka.', 'Ahoj. Ja jsem ex-student VUT.',
    'Ahoj. Ja jsem web programátor.', '';

  $lens: ();
  @each $i in $msgs {
    $lens: append($lens, str-length($i));
  }
  @include newAnim(
    writen-line,
    // ======================================================
    (
        0
          (
            // Start textu A
            content: nth($msgs, 1),
            // text od
            --steps: #{nth($lens, 1)},
            width: 0ch
          )
      )
      (
        6
          (
            // Fin. delka textu A
            width: #{nth($lens, 1)}ch
          )
      )
      (
        2
          (
            // Pockat
            width: #{nth($lens, 1)}ch
          )
      )
      (
        2
          (
            // Smazat cast textu A
            --steps: 16,
            width: 14ch,
            content: nth($msgs, 1),
            // text do
          )
      )
      // ======================================================
    (
        -1 (
            // Start text B
            --steps: 16,
            content: nth($msgs, 2),
            // text od
          )
      )
      (
        3
          (
            // Fin. delka textu B
            width: #{nth($lens, 2)}ch
          )
      )
      (
        2
          (
            // Pockat
            width: #{nth($lens, 2)}ch
          )
      )
      (
        2
          (
            // Smazat cast textu B
            --steps: 16,
            width: 14ch,
            content: nth($msgs, 2),
            // text do
          )
      )
      // ======================================================
    (
        -1 (
            // Start text C
            --steps: 17,
            content: nth($msgs, 3),
            // text C od
          )
      )
      (
        3
          (
            // Fin. delka textu C
            width: #{nth($lens, 3)}ch
          )
      )
      (
        2
          (
            // Pockat
            width: #{nth($lens, 3)}ch
          )
      )
      (
        4
          (
            // Smazat vse
            content: nth($msgs, 3),
            // text C do
            --steps: 30,
            width: 0ch
          )
      )
      (
        2
          (
            // Pockat
            width: 0ch
          )
      )
  );

  // writen-co CS
  $msgs: ' Miroslav Válka.', ' ex-student FIT VUT.', ' junior web programátor.',
    '';
  $lens: ();
  @each $i in $msgs {
    $lens: append($lens, str-length($i));
  }
  @include newAnim(
    writen-co,
    // ======================================================
    (
        0
          (
            // Start textu
            content: nth($msgs, 1),
            // text od
            --steps: #{nth($lens, 1)},
            width: 0ch
          )
      )
      (
        5
          (
            // Fin. delka textu
            width: #{nth($lens, 1)}ch
          )
      )
      (
        3
          (
            // Pockat
            width: #{nth($lens, 1)}ch
          )
      )
      (
        2
          (
            // Smazat text
            width: 0ch,
            --steps: #{nth($lens, 1)},
            content: nth($msgs, 1),
            // text do
          )
      )
      // ======================================================
    (
        -1 (
            // Start textu
            content: nth($msgs, 2),
            // text od
            --steps: #{nth($lens, 2)},
            width: 0ch
          )
      )
      (
        6
          (
            // Fin. delka textu
            width: #{nth($lens, 2)}ch
          )
      )
      (
        3
          (
            // Pockat
            width: #{nth($lens, 2)}ch
          )
      )
      (
        2
          (
            // Smazat text
            width: 0ch,
            --steps: #{nth($lens, 2)},
            content: nth($msgs, 2),
            // text do
          )
      )
      // ======================================================
    (
        -1 (
            // Start textu
            content: nth($msgs, 3),
            // text od
            --steps: #{nth($lens, 3)},
            width: 0ch
          )
      )
      (
        7
          (
            // Fin. delka textu
            width: #{nth($lens, 3)}ch
          )
      )
      (
        3
          (
            // Pockat
            width: #{nth($lens, 3)}ch
          )
      )
      (
        2
          (
            // Smazat text
            width: 0ch,
            --steps: #{nth($lens, 3)},
            content: nth($msgs, 3),
            // text do
          )
      )
      // ======================================================
  );

  // writen-ja CS
  $msg: 'Zdravím. Já jsem ';
  $len: str-length($msg);

  @include newAnim(
    writen-ja,
    (0 (content: $msg, --steps: #{$len}, width: 0ch))
      (5 (--steps: #{$len}, width: #{$len}ch))
      (0.5 (--steps: #{$len}, content: $msg, width: 1000ch))
  );
  // =======================================================

  // writen-co EN
  $msgs: ' Miroslav Válka.', ' ex-student FIT VUT.', ' junior web programmer.',
    '';
  $lens: ();
  @each $i in $msgs {
    $lens: append($lens, str-length($i));
  }
  @include newAnim(
    writen-co-en,
    // ======================================================
    (
        0
          (
            // Start textu
            content: nth($msgs, 1),
            // text od
            --steps: #{nth($lens, 1)},
            width: 0ch
          )
      )
      (
        5
          (
            // Fin. delka textu
            width: #{nth($lens, 1)}ch
          )
      )
      (
        3
          (
            // Pockat
            width: #{nth($lens, 1)}ch
          )
      )
      (
        2
          (
            // Smazat text
            width: 0ch,
            --steps: #{nth($lens, 1)},
            content: nth($msgs, 1),
            // text do
          )
      )
      // ======================================================
    (
        -1 (
            // Start textu
            content: nth($msgs, 2),
            // text od
            --steps: #{nth($lens, 2)},
            width: 0ch
          )
      )
      (
        6
          (
            // Fin. delka textu
            width: #{nth($lens, 2)}ch
          )
      )
      (
        3
          (
            // Pockat
            width: #{nth($lens, 2)}ch
          )
      )
      (
        2
          (
            // Smazat text
            width: 0ch,
            --steps: #{nth($lens, 2)},
            content: nth($msgs, 2),
            // text do
          )
      )
      // ======================================================
    (
        -1 (
            // Start textu
            content: nth($msgs, 3),
            // text od
            --steps: #{nth($lens, 3)},
            width: 0ch
          )
      )
      (
        7
          (
            // Fin. delka textu
            width: #{nth($lens, 3)}ch
          )
      )
      (
        3
          (
            // Pockat
            width: #{nth($lens, 3)}ch
          )
      )
      (
        2
          (
            // Smazat text
            width: 0ch,
            --steps: #{nth($lens, 3)},
            content: nth($msgs, 3),
            // text do
          )
      )
  );
  // writen-ja EN
  $msg: 'Hello. I am ';
  $len: str-length($msg);

  @include newAnim(
    writen-ja-en,
    (0 (content: $msg, --steps: #{$len}, width: 0ch))
      (5 (--steps: #{$len}, width: #{$len}ch))
      (0.5 (--steps: #{$len}, content: $msg, width: 1000ch))
  );

  /*
 .fake-cursor .is-blink
*/
  .fake-cursor {
    &::after {
      content: '\7C'; // "\7C" = "|"
      display: inline-block;
      height: 1em;
      width: 1ch;
      margin-left: -0.35em;
    }
    &.is-blink::after {
      animation-name: blinking-cursor;
      animation-duration: 0.75s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate;
    }
    @keyframes blinking-cursor {
      0% {
        visibility: hidden;
      }
      50% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }
    }
  }
</style>
