
// $width-xs: 0px;
// $width-sm: 600px;
// $width-md: 960px;
// $width-lg: 1280px;
// $width-xl: 1920px;

$width-xs: 0px;
$width-sm: 600px;
$width-md: 960px;
$width-lg: 1280px;
$width-xl: 1920px;

// min-width: xs => <0, 600)
// min-width: sm => <600, 960)
// min-width: md => <960, 1280)
