

// newAnim(name, <frames>)
// <frames>: <frame> <frame> ...
// <frame>: (duration, <body>)
// <body>: (<key1>: <value1>, <key2>: <value2>, ...)
@mixin newAnim($name, $frames) {
  $sum_durations: 0; // Suma casu ze snimku
  $procenta: 0;
  $duration: 0;
  // Soucet vsech casu snimku
  @each $i in $frames {
    $duration: $duration+if(nth($i,1) < 0, 0, nth($i,1));
  }
  // Vytvoreni sminku
  @keyframes #{$name} {
    @each $frame in $frames {
      $frame_duration: nth($frame,1);
      // -1 => temer nulovy prechod mezi predchozim a timto snimkem
      @if($frame_duration < 0) {
        $procenta: 100*$sum_durations/$duration+0.1;
      } @else {
        $sum_durations: $frame_duration+$sum_durations;
        $procenta: 100*$sum_durations/$duration;
      }
      // Fix pro prekroceni maxima
      $procenta: if($procenta > 100, 100, $procenta);

      #{$procenta}#{"%"} {
        --log: #{$duration};
        @each $key, $val in nth($frame,2) {
          #{$key}: $val;
        }
      }
    }
  }
}

