
@import './themes-mixin.scss';

/// Import fontu

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&family=Roboto+Mono&display=swap');

/// Vychozi vzhled pro elementy

:root {
  font-size: 22px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;

  @include color(color, fg-sec);
}
p {
  font-family: 'PT Serif', serif;
  font-style: normal;

  @include color(color, fg-sec);
  line-height: 1.5em;

  padding: 0;
  margin: 0.5em 0;
}
pre, code {
  font-family: 'Roboto Mono', monospace;
}

/// Typograficke mikro-tridy

.typo-title {
  font-family: 'PT Sans', sans-serif;
}
.typo-normal {
  font-family: 'PT Serif', serif;
}
.typo-code {
  font-family: 'Roboto Mono', monospace;
}

.typo-primary {
  @include color(color, fg-prim);
}
.typo-secondary {
  @include color(color, fg-sec);
}

.typo-italic {
  font-style: italic;
}
.typo-center {
  text-align: center;
}
.typo-right {
  text-align: right;
}
.typo-justify {
  text-align: justify;
}
.typo-uppercase {
  text-transform: uppercase;
}

.typo-zero-margin {
  margin: 0;
}
