
/// Barevna schemata

// Barevna schemata
$themes: (
  dark2: (
    fg-prim: #fff,
    fg-sec: #ccc,
    // bg-prim: #222,
    bg-prim: #111,
    bg-prim-2: #000,
    bg-sec: #000,
    bg-sec-2: #0f003791,
    link: #00ffd5,
    link-hover: #43ffe0,
  ),
  light: (
    fg-prim: #000,
    fg-sec: #333,
    bg-prim: #d5d7ff,
    // bg-prim: #bcc0ff,
    // bg-prim: #ddd,
    // bg-prim: #cfcfed,
    // bg-prim: #fff,
    // bg-sec: #fff,
    bg-sec: #eafaff,
    // bg-sec: #d5d7ff,
    // bg-sec: #f3f3ff,
    // link: #00f,
    // link: #0100b3,
    link: #3400cf,
    link-hover: #00a,
    prim: #d00,
  ),
  dark: (
    fg-prim: #fff,
    fg-sec: #ccc,
    bg-prim: #202020,
    // bg-prim: #222,
    bg-sec: #000,
    link: #fa0,
    link-hover: #fd0,
    prim: #d00,
  ),
  primary: (
    fg-prim: #000,
    fg-sec: #444,
    bg-prim: #d80,
    bg-sec: #fa0,
    link: #444,
    link-hover: #000,
  ),
);

// Vychozi barevne schema
$default_theme: map-get($themes, light);

