
@import './themes.scss';
@import './themes-mixin.scss';

/// CSS tridy dle definovanych schemat

:root {
  @include defColors($default_theme);
}

html {
  @include color(color, fg-sec);
  @include color(background-color, bg-sec);
  a {
    @include color(color, link);
    &:hover {
      @include color(color, link-hover);
      // text-shadow: 0px 0px 0.08rem var(--cl-link);
      @include color(text-shadow, link, 0px 0px 0.08rem);
    }
  }
}

@each $theme_name, $theme_colors in $themes {
  .#{$theme_name} {
    @include defColors(map-get($themes, #{$theme_name}));
  };
  .#{$theme_name} {
    @include color(color, fg-sec);
    @include color(background-color, bg-sec);
    a {
      @include color(color, link);
      &:hover {
        @include color(color, link-hover);
        // text-shadow: 0px 0px 0.08rem var(--cl-link);
        @include color(text-shadow, link, 0px 0px 0.08rem);
      }
    }
  }
}

