
@import './themes.scss';

/// Pomocne mixiny

// Pouzije u dane vlastnosti danou barvu
// 1. Do vlastnosti priradi primo jako hodnotu
// 2. Do vlastnosti priradi jako css promennou
@mixin color($prop, $cl_name, $other: '') {
  #{$prop}: map-get($default_theme, $cl_name) #{$other};
  #{$prop}: var(--cl-#{$cl_name}) #{$other};
}
// Alias pro mixin color
@mixin cl($prop, $cl_name) { @include color($prop, $cl_name) }

// Vytvori css promenne ze sass promenne
@mixin defColors($map_of_colors) {
  @each $key, $value in $map_of_colors {
    --cl-#{$key}: #{$value};
  }
}
