
[data-tooltip] {
  &::before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    z-index: -1;
    white-space: nowrap;
    border-radius: 0.4rem;
    padding: 0.25rem 0.5rem;

    font-size: 1rem;
    color: #ccc;
    border: 1px solid #fff;
    background-color: #333;
    cursor: inherit;
    transition: 0.25s opacity, 0.25s z-index;
  }
  &:hover::before, &:focus::before {
    opacity: 1;
    z-index: 10;
  }
  &.right::before {
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
  }
  &.left::before {
    right: 100%;
    top: 50%;
    transform: translate(0, -50%);
  }
  &.bottom::before {
    left: 50%;
    top: 100%;
    transform: translate(-50%,0);
  }
  &.top::before {
    left: 50%;
    bottom: 100%;
    transform: translate(-50%,0);
  }
}
