<script>
  import SkipToMainBtn from '../components/buttons/SkipToMainBtn.svelte'
  import ThemeBtn from '../components/buttons/ThemeBtn.svelte'
  import MyName from '../components/myName/MyName.svelte'
  import Navigation from '../components/navigation/Navigation.svelte'
  import SayHello from '../components/sayHello/SayHello.svelte'
  import HorizontalRule from '../components/HorizontalRule.svelte'
  import Spacer from '../components/Spacer.svelte'

  import { themes, locales, generatePermalink } from '../utils/routes'
  import { useTranslation } from '../utils/translation.js'

  export let templateHtml, data, request //, settings
  const { t } = useTranslation(data.texts)

  function selectNext(items, selectedItem) {
    for (let i = 0; i < items.length; i++) {
      if (selectedItem === items[i]) {
        return items[i + 1] || items[0]
      }
    }
    return items[0]
  }

  const otherTheme = selectNext(themes, request.theme)
  const otherLocale = selectNext(locales, request.locale)

  const mainMenu = [
    { name: t('menu.aboutMe'), href: generatePermalink('/', request) },
    {
      name: t('menu.portfolio'),
      href: generatePermalink('/portfolio', request),
    },
    { name: t('menu.anything'), href: generatePermalink('/anything', request) },
    { name: t('menu.blog'), href: generatePermalink('/blog', request) },
  ]
  const sideMenu = [
    {
      name: t('menu.changeSchema'),
      href: generatePermalink(request.slug, { ...request, theme: otherTheme }),
      tooltip: t('menu.changeSchema'),
      tooltipDirection: 'bottom',
      component: ThemeBtn,
      componentClass: otherTheme,
    },
    {
      name: otherLocale.toUpperCase(),
      href: generatePermalink(request.slug, {
        ...request,
        locale: otherLocale,
      }),
      // tooltip: otherLocale.toUpperCase(),
      tooltipDirection: 'bottom',
    },
  ]
</script>

<svelte:head>
  <link rel="icon" type="image/svg+xml" href="/logo/logo.svg" />
  <link rel="alternate icon" href="/logo/logo@32.png" />
  <link rel="stylesheet" href="/style.css" />
</svelte:head>

<header>
  <SkipToMainBtn target="#main" text="Skip menu" />
  <Spacer py="0.5rem" px="1rem" center>
    <Navigation main={mainMenu} side={sideMenu} />
  </Spacer>

  <div>
    <Spacer tag="section" mx="auto" py="1rem" px="1rem" pb="2rem">
      <MyName locale={request.locale} />
    </Spacer>
  </div>
</header>

<HorizontalRule />

<main id="main">
  {@html templateHtml}
</main>

<HorizontalRule />

<footer>
  <div>
    <Spacer tag="section" mx="auto" py="2rem" px="1rem">
      <SayHello texts={data.texts.sayHello} />
    </Spacer>
  </div>
</footer>

<style lang="scss">
  :global {
    .shade-blue {
      background-color: #0000ff10;
    }
    .shade-red {
      background-color: #ff000010;
    }
    .shade-green {
      background-color: #00ff0010;
    }
    .shade-orange {
      background-color: #ff660010;
    }
  }

  header,
  main,
  footer {
    display: flex;
    flex-flow: column;
    // background-image: linear-gradient(to right, var(--cl-bg-sec-2),transparent);
    :global {
      nav,
      section,
      article {
        max-width: 38rem;
      }
    }
  }
  main {
    :global(section, article) {
      padding: 0.5rem 1rem;
      margin: 1rem auto;
    }
  }

  :global {
    @import '../assets/style.scss';

    @import '../assets/themes-class.scss';

    /// Jina nastaveni
    *,
    ::after,
    ::before {
      box-sizing: border-box;
    }
    html {
      scroll-behavior: smooth;
    }
    body {
      display: grid;
      // grid-gap: 0.5rem;
      grid-template-rows: min-content auto min-content;
      grid-template-columns: auto;
      margin: 0;
      padding: 0;
      min-height: 100vh;
      overflow-x: hidden;
    }
  }
</style>
